body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: block;
}

aside, section {
    display: inline-block;
    vertical-align: top;
    margin:0;
    padding: 0;
}
aside {
    width: 24%;
}
section {
    width: 50%;
    text-align: center;
    margin-top: 55px;
}
select {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    text-transform: capitalize;
    background-color: aliceblue;
    margin: 10px;
}

.hidden {
    display: none;
}

.row:first-of-type .marker,
.row:last-of-type .marker {
    padding: 0;
    text-align: center;
    margin: 0 20px 0 20px;
}
.marker:first-of-type,
.marker:last-of-type {
    
    margin: 20px 0 0;
}
.marker:first-of-type {
    text-align: right;
}
.marker:last-of-type {
    text-align: left;
}

.marker {
    display: inline-block;
    vertical-align: middle;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    color: #999;
}

/** DEFAULT THEME **/
/* Dark Tiles */
#board > .row:nth-of-type(odd) > .tile:nth-of-type(odd),
#board > .row:nth-of-type(even) > .tile:nth-of-type(even) {
    background-color: #999;
    border-color: #999;
    color: #999;
}

/* Light Tiles */
#board > .row:nth-of-type(even) > .tile:nth-of-type(odd),
#board > .row:nth-of-type(odd) > .tile:nth-of-type(even) {
    background-color: #ccc;
    border-color: #ccc;
    color: #ccc;
}

/* Valid Move styling */
#board .tile.valid i.player-none {
    color: #aaa;
    padding-top: 20px;
    font-size: .5em;
}
#board .tile.valid i.player-white,
#board .tile.valid i.player-black {
    /* TODO: show a valid take-over move in a better way */
    font-size: .9em;
}

/** BLUE THEME **/
/* Dark Tiles */
#board.blue > .row:nth-of-type(odd) > .tile:nth-of-type(odd),
#board.blue > .row:nth-of-type(even) > .tile:nth-of-type(even) {
    background-color: skyblue;
    border-color: skyblue;
    color: skyblue;
}
/* Light Tiles */
#board.blue > .row:nth-of-type(even) > .tile:nth-of-type(odd),
#board.blue > .row:nth-of-type(odd) > .tile:nth-of-type(even) {
    background-color: lightblue;
    border-color: lightblue;
    color: lightblue;
}

/** RED THEME **/
/* Dark Tiles */
#board.red > .row:nth-of-type(odd) > .tile:nth-of-type(odd),
#board.red > .row:nth-of-type(even) > .tile:nth-of-type(even) {
    background-color: maroon;
    border-color: maroon;
    color: maroon;
}
/* Light Tiles */
#board.red > .row:nth-of-type(even) > .tile:nth-of-type(odd),
#board.red > .row:nth-of-type(odd) > .tile:nth-of-type(even) {
    background-color: lightcoral;
    border-color: lightcoral;
    color: lightcoral;
}

.tile {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 25px;
    vertical-align: top;
    text-align: center;
    border-width: 2px;
    border-style: solid;
}
    .tile i {
        padding-top: 10px;
    }

.tray {
    height: 35px;
    background-color: #888;
    font-size: 20px;
    margin: 15px 75px;
}
.tray i {
    padding: 5px;
}



.player-white,.player-black {
    text-shadow: #999 2px 2px 1px;
}

.dark .player-white, .dark .player-black {
    text-shadow: #666 2px 2px 1px;
}

.tray .player-white, .tray .player-black {
    opacity: 1;
}

.player-white {
    color: #fff;
}
.player-black {
    color: #000;
}

.active-player-white .player-white,
.active-player-black .player-black {
    text-shadow: #999 5px 5px 2px;
    opacity: 1;
}
.active-player-black .dark .player-black, .active-player-white .dark .player-white {
    text-shadow: #666 5px 5px 2px;
}

.tile.selected {
    border-color: goldenrod;
}
.tile.selected i.player-white {
    padding-top: 15px;
}

.tile.selected i.player-black {
    padding-top: 5px;
}
.tile.from, .move-history .from {
    border-color: orange !important;
}
.tile.to, .move-history .to {
    border-color: darkorange !important;
}

.tile.checked {
    border-color: blue !important;
}

/*
.row {
    display:block;
 }
.row:after, .row:before {
    content: " ";
    display: block;
} */

.alert {
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
    border-width: 1px;
    border-style: solid;
}
.alert-debug {
    background-color: lightgray;
    border-color: gray;
}
.alert-info {
    background-color: lightblue;
}
.alert-warning {
    background-color: lightgoldenrodyellow;
    border-color: goldenrod;
}

.move-history {
    padding: 10px;
    background-color: #999;
}

.move-history .to, .move-history .from {
    border-width: 1px;
    border-style: solid;
    margin: 0 25px;
}

.text-green {
    color: green;
}
.text-tomato {
    color: tomato;
}

.ui-dialog {
    background-color: #dedede;
}

.dialog-promotion i {
    font-size: 50px;
    margin: 15px;
}
.ui-dialog-title {
    font-size: 25px;
    background-color: #888;
    color: #eee;
    padding: 10px;
    display: block;
}
.ui-dialog-titlebar-close {
    display: none;
}