body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: block;
}

aside, section {
    display: inline-block;
    vertical-align: top;
    margin:0;
    padding: 0;
}
aside {
    width: 24%;
}
section {
    width: 50%;
    text-align: center;
    margin-top: 55px;
}

.marker {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    padding-top: 20px;
    padding-right: 10px;
    width: 30px;
    padding-left: 10px;
}
/*
.marker {
    display: none;
}*/
.tile {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 25px;
    vertical-align: top;
    text-align: center;
    border-width: 2px;
    border-style: solid;
}
.tile i {
    padding-top: 10px;
}

.tray {
    height: 35px;
    background-color: #888;
    font-size: 20px;
}
.tray i {
    padding: 5px;
}

.player-white,.player-black {
    text-shadow: #999 2px 2px 1px;
}

.player-white, .player-black {
    opacity: .7;
}
.tray .player-white, .tray .player-black {
    opacity: 1;
}

.player-white {
    color: #fff;
}
.player-black {
    color: #000;
}

.active-player-white .player-white,
.active-player-black .player-black {
    text-shadow: #999 5px 5px 2px;
    opacity: 1;
}

.dark {
    background-color: #999;
    border-color: #999;
}
.tile.selected {
    border-color: goldenrod;
}
.tile.selected i {
    padding-top: 15px;
}
.light {
    background-color: #bbb;
    border-color: #bbb;
}
.row {
    display:block;
}
.row:after, .row:before {
    content: " ";
    display: block;
}

.alert {
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
    border-width: 1px;
    border-style: solid;
}
.alert-debug {
    background-color: lightgray;
    border-color: gray;
}
.alert-info {
    background-color: lightblue;
}
.alert-warning {
    background-color: lightgoldenrodyellow;
    border-color: goldenrod;
}

.blue .light {
    background-color: lightblue;
    border-color: lightblue;
}
.blue .dark {
    background-color: skyblue;
    border-color: skyblue;
}