body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: block;
}

aside, section {
    display: inline-block;
    vertical-align: top;
    margin:0;
    padding: 0;
}
aside {
    width: 24%;
}
section {
    width: 50%;
    text-align: center;
    margin-top: 55px;
}
.tile {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 25px;
    vertical-align: top;
    text-align: center;
    border-width: 2px;
    border-style: solid;
}
.tile i {
    padding-top: 10px;
}

.player-white {
    color: #fff;
}
.player-black {
    color: #000;
}
.dark {
    background-color: #999;
    border-color: #999;
}
.tile.selected {
    border-color: goldenrod;
}
.tile.selected i {
    padding-top: 15px;
}
.light {
    background-color: #bbb;
    border-color: #bbb;
}
.row {
    display:block;
}
.row:after, .row:before {
    content: " ";
    display: block;
}

.alert {
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
    border-width: 1px;
    border-style: solid;
}
.alert-debug {
    background-color: lightgray;
    border-color: gray;
}
.alert-info {
    background-color: lightblue;
}
.alert-warning {
    background-color: lightgoldenrodyellow;
    border-color: goldenrod;
}